<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Unleash your swag</h1>
            <hr>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag("welcome/portfolio/a.jpg", :class=>"img-responsive", :alt=>"") %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                C'est Chic 
                            </div>
                            <div class="project-name">
                                Fil-A
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag("welcome/portfolio/d.jpg", :class=>"img-responsive", :alt=>"") %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Bro Collection
                            </div>
                            <div class="project-name">
                                Edgar Allan Bro
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag("welcome/portfolio/c.jpg", :class=>"img-responsive", :alt=>"") %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Bro Collection
                            </div>
                            <div class="project-name">
                                Abroham Lincoln
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag("welcome/portfolio/b.jpg", :class=>"img-responsive", :alt=>"") %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                C'est Chic
                            </div>
                            <div class="project-name">
                                N-Tenders
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag("welcome/portfolio/e.jpg", :class=>"img-responsive", :alt=>"") %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                C'est Chic
                            </div>
                            <div class="project-name">
                                Le Freak
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag("welcome/portfolio/f.jpg", :class=>"img-responsive", :alt=>"") %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Bro Collection
                            </div>
                            <div class="project-name">
                                Brorack Brobama
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Swiggity Swag, what's in the bag?</h2>
                <hr class="light">
                <p class="text-faded">Swag is a clothing company aimed at bringing out your inner swag.  Whether you've already got swag or need help getting it out, Swag is here to help.</p>
                <%= link_to "Start Shopping", products_path, class: "btn btn-default btn-xl" %>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">United We Swag</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>High Quality Clothing</h3>
                    <p class="text-muted">Our clothes are very wow. Guaranteed.</p>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shirtsinbulk wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Swag Shirts</h3>
                    <p class="text-muted">Swagged to perfection.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">We only ship within the U.S. Need international? Contact us.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-rocket wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>To the moon!</h3>
                    <p class="text-muted">Doge forcasts indicate our clothing will launch us to the moon (accuracy pending)</p>
                </div>
            </div>
        </div>
    </div>
</section>

